body {
    background-image: url(/img/fondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aqua;
}

h2 {
    padding-left: 40%;
    text-shadow: 3px 3px 4px rgba(54, 35, 226, 0.5), 0 0 0.5em rgb(44, 50, 126);
    text-decoration: underline;
}

h3 {
    text-shadow: 3px 3px 4px rgba(54, 35, 226, 0.5), 0 0 0.5em rgb(44, 50, 126);
    text-decoration: underline;
}

caption, th {
    text-shadow: 3px 3px 4px rgba(54, 35, 226, 0.5), 0 0 0.5em rgb(44, 50, 126);
    text-decoration: underline;
}

table {
    border: solid rgb(20, 221, 30);
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul, footer {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}